main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    color: black;
    flex-grow: 1;
}

.listaPizzas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.itemPizza{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 4rem;
    width: 480px;
    gap: 1.5rem;
}

.itemPizza h4{
    text-wrap-mode: nowrap;
}

.imgPizzaContainer{
    height: 100%;
    width: 20%;
}

.imgPizzaContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detallePizza{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.btnPlus{
    box-sizing: border-box;
    color: blue;
    border: 1px solid blue;
    height: 40px;
    width: 40px;
    line-height: 0;
}

.btnMinus{
    box-sizing: border-box;
    color: red;
    border: 1px solid red;
    height: 40px;
    width: 40px;
    line-height: 0;
}