* {
    margin: 0;
    padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-weight: bold;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
  margin-bottom: 15vh;
  font-size: large;
}

