@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
}


/*.container {
  display: flex;
  margin: 0px;
  justify-content: space-between;
  gap: 5px;
}

/*.container h1 {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  margin: 7px 10px;
}*/

.header {
  background-image: url(../public/img/pizza.jpg);
  background-size: cover;
  height: 30vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-bottom: 6vh;
}

.header-line {
  width: 100%;
  border: 2px solid white;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5vh;
  gap: 10px;
  margin-left: 2vh;
  margin-right: 2vh;
  border: solid rgb(255, 223, 80);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  border: 2px solid #9b9b9b;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  
}

.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}

.cardHeader h2 {
  font-size: 25px;
  font-weight: normal;
  color: black;
  padding-top: 8px;
  padding-bottom: 5px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.cardBody ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.cardBody li {
  text-align: left;
  list-style-type: none;
  margin-bottom: 0.4rem;
}

.cardBody h3 {
  font-size: 22px;
  font-weight: lighter;
  margin: 0 0;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-bottom: 3vh;
}

.cardFooter h3 {
  margin-top: -15px;
}

.btnCf {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 30px;
}

.fondo {
  height: 10vh;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

